@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Cutive+Mono&family=Pathway+Extreme:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --dullblue: #476C9B;
    --cyan: #51E5FF;
    --dullpink: #F6E4F6;
    --tomatored: #F45866;

}
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    
}
.nav{
    background-color: var(--cyan);
}
.popup-overlay{
    height: 100vmax;
    width: 100%;
    
    background-color: #000000;
    opacity: 0.8;
    position: absolute;
    z-index: 1;
    display: none;
}
.popup{
    width: 60%;
    height: 500px;
    position: absolute;
    background-color: var(--cyan);
    z-index: 2;
    left: 20%;
    top: 20%;
    border-radius: 10px;
    display: none;
    
}
.popup input::placeholder{
    color: var(--dullblue);
    font-weight: 600;
    font-size:x-large
    
}
.popup textarea::placeholder{
    color: var(--dullblue);
    font-weight: 600;
    font-size:x-large
    
}
.popup button{
    width: 100px;
    height: 40px;
    margin-left: 70px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    background-color: aliceblue;
    
}
#save{
    margin-left: 290px;
}
#cancel{
    background-color: var(--tomatored);
    /* margin-left: 350px; */
}

#book-name{
    width: 95%;
    height: 75px;
    margin-top: 20px;
    margin-inline: 20px;
    border: none;
    background-color: var(--cyan);
    border-bottom: 2px solid var(--dullpink);
}
#book-author{
    width: 95%;
    height: 75px;
    margin-top: 20px;
    margin-inline: 20px;
    border:none ;
    background-color: var(--cyan);
    border-bottom: 2px solid var(--dullpink);
}
#description{
    width: 95%;
    height: 200px;
    margin-top: 20px;
    margin-inline: 20px;
    border: none;
    background-color: var(--cyan);
    border: 2px solid var(--dullpink);
    border-radius: 5px;
}
.content{
    display: flex;
    margin: 20px;
    gap: 20px;
    flex-wrap: wrap;
}
.add-container{
    margin-top: 25px;
    width: 23%;
    height: 250px;
    border: 2px dashed gray;
    border-radius: 10px;
    margin-left: 10px;

    
    

    
}

    

.add-container div p{
    font-size: 50px ;
    font-weight: 600;
    padding-left: 150px;
    padding-top: 80px;

    

    
    

}


.book-info{
    background-color: var(--dullpink);
    width: 23%;
    height: 300px;
    border-radius: 10px;
    padding: 5px;
    border-top: 5px solid var(--cyan);
    box-shadow: 1px 2px 5px 2px rgba(0,0,0,0.2) ;

}
.book-name ,.book-author{
    color: var(--dullblue);
}
.book-description{
    color: var(--cyan);
}
.book-info button{
    background-color: var(--tomatored);
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 40px;

}

